body {
  margin: 0;
}

/* Style the header */
.header {
  background-color: #f1f1f1;
  text-align: center;
}
.footer {
  text-align: center;
  list-style-type: none;
  margin: 1rem 0 0;
  padding: 2rem 0rem;
  height: 4rem;
  overflow: hidden;
  background-image:url('ft.jpg');
}
.pf{
  color: mistyrose;
  font: normal Times New Roman,serif;
}
ul.nav {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: SteelBlue;
}

ul.nav li {
  float:left;
}
ul.nav li a {
  display:block;
  color: MistyRose;
  text-align: center;
  text-decoration: none;
  padding: 1rem 2rem 1rem;
}
ul.nav li a:hover {
  background-color: #fff0ee;
  color: SteelBlue;
}

.container{
  width: 90%;
  margin: auto;
}
.post{
  width: 95%;
  margin: 5px auto;
  padding: 1rem;
  border: 2px ridge mistyrose;
  border-radius: 5px;
  padding: 2px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
img.avatar{
  width:230px; 
  float: left; 
  margin: 1rem 4rem 1rem;
  box-shadow: 0 2px 5px 0 steelblue;
  box-radius: 5px;
}

ul.body{
list-style-type: none; /*circle,square,none*/
}
li.body{
}
li.body a:link {
  color: steelblue;
}

/* visited link */
li.body a:visited {
  color: skyblue;
}



h2{
color: SteelBlue;
font: 1.8rem Arial, sans-serif;
border-bottom: 1px solid ;
}
h3{
Color: #363945;
Font: Arial, sans-serif;
}

.p1{
Color: SteelBlue;
Font: Bold 1.8rem Arial, sans-serif;
}
.p2{
Color: #363945;
Font: normal Times New Roman,serif;
}

a:link {
  color: steelblue;
}

/* visited link */
a:visited {
  color: skyblue;
}

/* mouse over link */
a:hover {
  color: skyblue;
}


/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */

@media screen and (max-width: 600px) {
  ul.nav Li {
    float: none;
    width: 100%;
  }
  ul.nav Li a {
    padding: 1rem 2rem 1rem;
  }
  .p1{
    Font: 1.5rem Arial, sans-serif;
  }
  img.avatar {
    width: 70%;
    margin: 1rem 2rem;
    float: none
  }
}
